h1 {
    font-family: Arial;
    margin-top: 50px;
  }

button {
  font-family: Arial;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  color:rgb(21, 119, 119);
  font-size: 200px;
}

h3 {
  font-family: Arial;
  margin-top: 300px;
}